.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
data/.DS_Store

*.html
*.pper
.Rproj.user/shared/notebooks/paths
.Rproj.user/shared/notebooks/paths
.Rproj.user/0A5359D9/sources/prop/INDEX
.Rproj.user/0A5359D9/sources/prop/E88777A4
.Rproj.user/0A5359D9/persistent-state
.Rproj.user/0A5359D9/sources/prop/F01597AA
.Rproj.user/0A5359D9/sources/prop/E88777A4
.Rproj.user/0A5359D9/persistent-state
.Rproj.user/0A5359D9/sources/prop/E88777A4
.Rproj.user/0A5359D9/sources/prop/F01597AA
.Rproj.user/0A5359D9/sources/prop/F01597AA
.Rproj.user/0A5359D9/sources/prop/F01597AA
